In [15]:
import pandas as pd

melb_data = pd.read_csv('data/melb_data_ps.csv', sep=',')
melb_data.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [16]:
melb_df = melb_data.copy()
melb_df.head()

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [17]:
melb_df.drop(['index','Coordinates'],axis=1,inplace=True)
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,2,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [18]:
total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']
melb_df['MeanRoomsSquare'] = melb_df['BuildingArea'] / total_rooms
melb_df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,25.20
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,15.80
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,18.75
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,15.75
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,17.75

In [19]:

diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']
melb_df['AreaRatio'] = diff_area / sum_area
melb_df.loc[:, ['BuildingArea', 'Landsize', 'AreaRatio']]

       BuildingArea  Landsize  AreaRatio
0             126.0     202.0  -0.231707
1              79.0     156.0  -0.327660
2             150.0     134.0   0.056338
3             126.0      94.0   0.145455
4             142.0     120.0   0.083969
...             ...       ...        ...
13575         126.0     652.0  -0.676093
13576         133.0     333.0  -0.429185
13577         126.0     436.0  -0.551601
13578         157.0     866.0  -0.693060
13579         112.0     362.0  -0.527426

[13580 rows x 3 columns]

In [20]:
import pandas as pd
def delete_columns(df, col=[]):
    try:
        df = df.drop(col, axis=1)
        return df
    except KeyError:
        return None

customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })
customer_df = delete_columns(customer_df, ['cust_i', 'cust_age'])
display(customer_df)

None

In [21]:
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'square': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
avg_dens = countries_df['population'] * 1e6 / countries_df['square']
round(avg_dens.mean(), 2)

84.93

In [22]:

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)
melb_df['MonthSale'] = melb_df['Date'].dt.month
melb_df['MonthSale'].value_counts(normalize=True)

5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: MonthSale, dtype: float64

In [23]:
melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']
melb_df['AgeBuilding'] 
melb_df.drop('AgeBuilding', axis=1)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,...,126.0,1970,Yarra,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,...,79.0,1900,Yarra,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,...,150.0,1900,Yarra,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,...,126.0,1970,Yarra,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,...,142.0,2014,Yarra,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,...,126.0,1981,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,...,133.0,1995,NaN,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,...,126.0,1997,NaN,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,...,157.0,1920,NaN,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,...,112.0,1920,NaN,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8

In [24]:
melb_df['WeekDaySale'] = melb_df['Date'].dt.dayofweek
mask = melb_df['WeekDaySale'] >= 5
display(melb_df['WeekDaySale'].value_counts())
display(melb_df[mask]['WeekDaySale'].count())

5    11759
6     1063
0      597
1      133
3       28
Name: WeekDaySale, dtype: int64

12822

In [25]:
ufo_data = pd.read_csv('data/ufo.csv')
ufo_data

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,6/1/1930 22:00
1,Willingboro,NaN,OTHER,NJ,6/30/1930 20:00
2,Holyoke,NaN,OVAL,CO,2/15/1931 14:00
3,Abilene,NaN,DISK,KS,6/1/1931 13:00
4,New York Worlds Fair,NaN,LIGHT,NY,4/18/1933 19:00
...,...,...,...,...,...
18236,Grant Park,NaN,TRIANGLE,IL,12/31/2000 23:00
18237,Spirit Lake,NaN,DISK,IA,12/31/2000 23:00
18238,Eagle River,NaN,NaN,WI,12/31/2000 23:45
18239,Eagle River,RED,LIGHT,WI,12/31/2000 23:45
18240,Ybor,NaN,OVAL,FL,12/31/2000 23:59

In [26]:
ufo_data['Time'] = pd.to_datetime(ufo_data['Time'], dayfirst=True)
ufo_data['Time'].dt.year.mode()

0    1999
Name: Time, dtype: int64

In [27]:
ufo_data['Date'] = ufo_data['Time'].dt.date
DateDiff= ufo_data[ufo_data['State'] == 'NV']['Date'].diff().dt.days

DateDiff.mean()

68.72084805653711

In [28]:
melb_df['Address'].nunique()

def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    short_streets = {'Av': 'Avenue', 'Bvd': 'Boulevard', 'Pde': 'Parade'}
    address = address.split()
    result = address[-1]
    if result in exclude_list:
        result = address[-2]
    if result in short_streets:
        result = short_streets[result]
    return result


street_types = melb_df['Address'].apply(get_street_type)
popular_types = street_types.value_counts().nlargest(10).index
melb_df['StreetType'] = street_types.apply(lambda x:x if x in popular_types else 'other')
melb_df['StreetType'].value_counts(normalize=True)

St        0.589985
Rd        0.208027
Ct        0.045066
Dr        0.032916
other     0.026878
Avenue    0.026583
Gr        0.022901
Parade    0.016642
Pl        0.012445
Cr        0.011193
Cl        0.007364
Name: StreetType, dtype: float64

In [29]:
melb_df.drop('Address', axis=1, inplace=True)
melb_df

,Suburb,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom,...,Lattitude,Longtitude,Regionname,Propertycount,MeanRoomsSquare,AreaRatio,MonthSale,AgeBuilding,WeekDaySale,StreetType
0,Abbotsford,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,...,-37.79960,144.99840,Northern Metropolitan,4019,25.200000,-0.231707,12,46,5,St
1,Abbotsford,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,...,-37.80790,144.99340,Northern Metropolitan,4019,15.800000,-0.327660,2,116,3,St
2,Abbotsford,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,...,-37.80930,144.99440,Northern Metropolitan,4019,18.750000,0.056338,3,117,5,St
3,Abbotsford,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,...,-37.79690,144.99690,Northern Metropolitan,4019,15.750000,0.145455,3,47,5,other
4,Abbotsford,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,...,-37.80720,144.99410,Northern Metropolitan,4019,17.750000,0.083969,6,2,5,St
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,4,h,1245000.0,S,Barry,2017-08-26,16.7,3150,4,...,-37.90562,145.16761,South-Eastern Metropolitan,7392,12.600000,-0.676093,8,36,5,Cr
13576,Williamstown,3,h,1031000.0,SP,Williams,2017-08-26,6.8,3016,3,...,-37.85927,144.87904,Western Metropolitan,6380,16.625000,-0.429185,8,22,5,Dr
13577,Williamstown,3,h,1170000.0,S,Raine,2017-08-26,6.8,3016,3,...,-37.85274,144.88738,Western Metropolitan,6380,15.750000,-0.551601,8,20,5,St
13578,Williamstown,4,h,2500000.0,PI,Sweeney,2017-08-26,6.8,3016,4,...,-37.85908,144.89299,Western Metropolitan,6380,17.444444,-0.693060,8,97,5,St
13579,Yarraville,4,h,1285000.0,SP,Village,2017-08-26,6.3,3013,4,...,-37.81188,144.88449,Western Metropolitan,6543,12.444444,-0.527426,8,97,5,St

In [30]:
def get_weekend(weekday):
    if weekday >= 5:
        return 1
    else:
        return 0

melb_df['Weekend'] = melb_df['WeekDaySale'].apply(get_weekend)
round(melb_df[melb_df['Weekend'] == 1]['Price'].mean())

1081199

In [31]:
best_sales = melb_df['SellerG'].value_counts().nlargest(49).index
melb_df['SellerG'] = melb_df['SellerG'].apply(lambda s: s if s in best_sales else 'other')
melb_df['SellerG'].value_counts(normalize=True)
mask1 = melb_df['SellerG'] == 'Nelson'
mask2 = melb_df['SellerG'] == 'other'
round(melb_df[mask1]['Price'].min() / melb_df[mask2]['Price'].min(), 1)

1.3

In [32]:
f = open('data/ufo.csv','r')
# работа с файлом
f.close()

In [34]:
unique_list = []
for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtype)
    unique_list.append(item)

unique_counts = pd.DataFrame(
    unique_list,
    columns=['Column_name', 'Num_Unique','Type']
).sort_values(by='Num_Unique', ignore_index=True)

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  object
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  object
 5   SellerG          13580 non-null  object
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  YearBuilt        13580 non-null  int64
 15  CouncilArea      12211 non-null  object
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  object
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  int64
 23  AgeBuilding      13580 non-null  int64
 24  WeekDaySale      13580 non-null  int64
 25  StreetType       13580 non-null  object
 26  Weekend          13580 non-null  int64
dtypes: datetime64[ns](1), float64(8), int64(11), object(7)
memory usage: 2.8+ MB

None

In [35]:
cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']
max_unique_counts = 150
for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_counts and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  object
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  YearBuilt        13580 non-null  category
 15  CouncilArea      12211 non-null  category
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  category
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  category
 23  AgeBuilding      13580 non-null  int64
 24  WeekDaySale      13580 non-null  category
 25  StreetType       13580 non-null  category
 26  Weekend          13580 non-null  category
dtypes: category(10), datetime64[ns](1), float64(8), int64(7), object(1)
memory usage: 1.9+ MB

In [38]:
melb_df['Type'] = melb_df['Type'].cat.rename_categories({
    'u': 'unit',
    't': 'townhouse',
    'h': 'house'
})
display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [55]:
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)
melb_df['Type'] = melb_df['Type'].cat.add_categories('flat')
new_houses_types = pd.Series(['unit', 'house', 'flat', 'flat', 'house'])
new_houses_types = new_houses_types.astype(melb_df['Type'].dtype)
display(new_houses_types)

0     unit
1    house
2     flat
3     flat
4    house
dtype: category
Categories (4, object): ['house', 'townhouse', 'unit', 'flat']

ValueError: new categories must not include old categories: {'flat'}

In [63]:
#1.9
most_popular_subs = melb_df['Suburb'].value_counts().nlargest(119).index
melb_df['Suburb'] = melb_df['Suburb'].apply(lambda s: s if s in most_popular_subs else 'other')
melb_df['Suburb'] = melb_df['Suburb'].astype('category')
melb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 27 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Suburb           13580 non-null  category
 1   Rooms            13580 non-null  int64
 2   Type             13580 non-null  category
 3   Price            13580 non-null  float64
 4   Method           13580 non-null  category
 5   SellerG          13580 non-null  category
 6   Date             13580 non-null  datetime64[ns]
 7   Distance         13580 non-null  float64
 8   Postcode         13580 non-null  int64
 9   Bedroom          13580 non-null  int64
 10  Bathroom         13580 non-null  int64
 11  Car              13580 non-null  int64
 12  Landsize         13580 non-null  float64
 13  BuildingArea     13580 non-null  float64
 14  YearBuilt        13580 non-null  category
 15  CouncilArea      12211 non-null  category
 16  Lattitude        13580 non-null  float64
 17  Longtitude       13580 non-null  float64
 18  Regionname       13580 non-null  category
 19  Propertycount    13580 non-null  int64
 20  MeanRoomsSquare  13580 non-null  float64
 21  AreaRatio        13580 non-null  float64
 22  MonthSale        13580 non-null  category
 23  AgeBuilding      13580 non-null  int64
 24  WeekDaySale      13580 non-null  category
 25  StreetType       13580 non-null  category
 26  Weekend          13580 non-null  category
dtypes: category(11), datetime64[ns](1), float64(8), int64(7)
memory usage: 1.8 MB